div.playlist-video-embed-outer {
  position: relative;
  background: #423e40;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
div.playlist-video-inner{
  z-index:1;
  width:100%;
  overflow:auto;
}
div.playlist-video-embed {
  float: left;
  height: 100%;
}
div.playlist-video-embed ul {
  list-style-type: none;
  margin-bottom: 0;
  position: relative;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}
html.js div.playlist-video-embed-outer {
  padding: 0 40px;
}
div.playlist-video-embed ul li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  margin: 0;
}
div.playlist-video-embed ul li a {
  display: block;
}
div.playlist-video-embed ul li a.active {
  border: 4px solid #F3AF31;
}
.playlist-video-embed-nav a {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
	z-index: 2;
}
.playlist-video-embed-nav a.playlist-video-prev {
  left: 0;
}
.playlist-video-embed-nav a.playlist-video-next {
  right: 0;
}
.playlist-video-embed-nav a.playlist-video-prev {
  background: #231F20 url(../images/playlist-prev.png) no-repeat center center;
}
.playlist-video-embed-nav a.playlist-video-next {
  background: #231F20 url(../images/playlist-next.png) no-repeat center center;
}
.playlist-video-embed-nav a:hover {
  background-color: #4E4C4D;
}
div.playlist-video-embed-nav {
  display: none;
}
html.js div.playlist-video-embed-nav {
  display: block;
}
.playlist-video-embed-formatter .player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.playlist-video-embed-formatter .player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
